.parent {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr repeat(3, 1fr);
}

.div1 {
    grid-area: 1 / 1 / 6 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 2 / 2 / 6 / 3;
}
