<aside>
    <h1>Wh-Logo</h1>
    <a href="#">
        <i class="fa-solid fa-hard-drive"></i>
        <span class="text nav-text">My drive</span>
    </a>
    <a href="">
        <i class="fa fa-laptop" aria-hidden="true"></i>
        Computers
    </a>
    <a href="#">
        <i class="fa-solid fa-table-columns"></i>
        <span class="text nav-text">Dashboard</span>
    </a>
    <a href="#">
        <i class='fa fa-bell'></i>
        <span class="text nav-text">Notifications</span>
    </a>
    <a href="">
        <i class="fa fa-clone" aria-hidden="true"></i>
        Shared with me
    </a>
    <a href="">
        <i class="fa fa-star-o" aria-hidden="true"></i>
        Starred
    </a>
    <a href="">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
        Trash
    </a>
</aside>
